/*root: local onde vc cria as variaveis */
:root{
    --brand:  #FFCC00;
    --brand-light: #FFE990;
    --brand-dark: #CAA100;
    --text:#DDDD;

    --dark:#14141B;

    --white:#ffff;
    
    --font-primary: "Inter", sans-serif;
    --font-accent: "Teko", sans-serif;
}

/*Reset*/
*{
    margin:0;
    padding: 0;
}
body{
/*implementar o var() e a variavel para puxar o root*/
background-color: var(--dark);
font-family: var(--font-primary);

}
h1,h2,h3,h4,h5,h6{
 font-family: var(--font-accent);
  text-transform: uppercase;

}

p{
    color:var(--text);
    font-size: 16px;
    line-height: 130%;
}
/**************************UTILS - se repete com frequência*************/
.text-brand{
    color: var(--brand);
}
.btn{
    color: var(--dark);
    /*background-color: var(--brand);*/
    background-image:linear-gradient(to right,var(--brand,var(--brand-dark)));
    display: inline-block;
    padding: 12px  48px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 24px;


}
.container{
width: 100%px;
max-width: 1116px;

/*centraliza a div horizontalmente independente do elemneto pai*/
margin-left: auto;
margin-right: auto;
}

/********************************************HEADER*****************/
.header{
    background-color:  rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(10px); /*aplica um borrado na imagem */

    border-top: 3px solid var(--brand);
    padding-top: 24px;
    padding-bottom: 24px;
    
    width: 100%;
    position:fixed;
    top: 0;
}
/* container que esta  dentro de header*/
.header .container{
    display: flex;
    align-items: center; /*alinhamento vertical*/
    justify-content: space-between;/*alinhamento horizontal justfy content / space between espaço qu estiver sobrannado fique entre os filhos*/

}
.header .menu{

    display: flex;
    column-gap: 100px; /*espaço entre colunas*/

}
.header .menu a {
    color: var(--white);
    font-family: var(--font-accent);
    font-size: 18px;
     text-transform: uppercase; /* transforma o tetxto td em maiúsculo*/
    text-decoration: none;

    
}
.header .menu a:hover{/*ao passar o mouse no links do menu */
    color: var(--brand);

}

/*************hero**********************/

.hero{
    height: 100vh; /*VH se adequa a altura do navegador*/
    background-image:url(../img/bg_404.webp);
    background-size: cover; /*cobre a imagem e diminui se for preciso*/
    background-position: top right;
   
    display: flex;
    align-items: center;
}
.hero .container{
    margin-top: 100px;
}
.hero h1{
    color:var(--white);
    font-size: 112px;
    line-height: 90%;/*altura da linha , quer dizer *112px*/
    margin: 12px 0;
    /*margin-top: 12px;
    margin-bottom: 12px;*/

}
.hero p{
    font-size: 20px;
  

}